# Ignore environment variables file
.env

# Ignore virtual environment folders
venv/
env/

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore local config files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
